@font-face {
    font-family: theSimpsons;
    src: url('../fonts/Simpsonfont.ttf');
}


body {
    margin: 0 auto;
    background-color: #ffde00;
    max-width: 1600px;
}

/* Background image of the header section */
header {
background-image: url('../images/clouds_header.jpg'); 
background-color: #ffde00; 
height: 200px; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

header>div {
    text-align: center;
}

#headerLogo {
  max-height: 200px;
}

.simpsonsFont {
    font-family: theSimpsons;
}

section {
    border: 5px solid #f05a2b;
    border-radius: 25px;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    box-shadow: 10px 5px 5px black;
}

.question {
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
}

.answers {
    letter-spacing: 4px;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 30px;
}

.btn {
    height: 3rem;
    border-radius: 25px;
    background: #f05a2b;
    font-family: theSimpsons;
    font-weight: bold;
}

.btn:focus {
    outline: none;
}



