@font-face {
    font-family: theSimpsons;
    src: url('../fonts/Simpsonfont.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');


body {
    margin: 0 auto;
    background-color: #ffde00;
    max-width: 1600px;
}

/* Background image of the header section */
header {
background-image: url('../images/clouds_header.jpg'); 
background-color: #ffde00; 
height: 200px; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

header>div {
    text-align: center;
}

#headerLogo {
  max-height: 200px;
}

.simpsonsFont {
    font-family: theSimpsons;
}

#level-img {
    height: 400px;
    border-radius: 25px;
}

.block {
    border: 5px solid #f05a2b;
    border-radius: 25px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 5px 5px black;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 0;
    margin: 0 20px;
}

p {
    white-space: pre-line;
}

#block-question {
    flex: 1;
}

#introTitle {
    text-align: center;
}

#level-block {
    display: inline;      
    width: fit-content;
    padding: 0;
}

#quote-block {
    font-family: theSimpsons;
    text-align: center;
    font-size: 1.5rem;    
    display: inline;
    width: auto;
    padding: 0;
    width: 100%;
}

.question {
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
}

.answers {
    letter-spacing: 4px;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 30px;
}

.btn {
    height: 3rem;
    border-radius: 25px;
    background: #f05a2b;
    font-family: theSimpsons;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.btn:focus {
    outline: none;
}

.descrText{
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: justify;
    margin: 30px 100px;
}

#quote {
    margin: 10px;
    font-family: "Josefin Sans", sans-serif;
}

#author {
    margin: 10px;
}

ul {
    padding: 0;
}

#questionText {
    font-family: theSimpsons;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.answersList {
    font-family: theSimpsons;
    list-style-type: none;
    font-size: 1.5rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin: 10px auto;
    width: 75%;
    border: 2px solid #f05a2b;
    border-radius: 25px;
}

.answersList:hover {
    box-shadow: 10px 5px 5px black;
    font-weight: bold;
}

.scoreTimeTitles {
    font-family: theSimpsons;
    font-size: 2rem;
    width: 150px;   
    text-align: center;
    margin: 20px auto 10px auto;
}

.scoreTime {
    font-family: theSimpsons;
    font-size: 3rem;
    width: 150px;   
    text-align: center;
}

#timer {
    float: right;
    margin-bottom: 1rem;
}
