@font-face {
    font-family: theSimpsons;
    src: url('../fonts/Simpsonfont.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');


body {
    margin: 0 auto;
    background-color: #ffde00;
    max-width: 1600px;
}

/* Background image of the header section */
header {
background-image: url('../images/clouds_header.jpg'); 
background-color: #ffde00; 
height: 200px; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

header>div {
    text-align: center;
}

#headerLogo {
     max-height: 200px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.simpsonsFont {
    font-family: theSimpsons;
}

#level-img {
    height: 400px;
    border-radius: 25px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.block {
    border: 5px solid #f05a2b;
    border-radius: 25px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 10px 5px 5px black;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 0;
    margin: 0 20px;
}

p {
    white-space: pre-line;
}

#block-question {
    flex: 1;
}

#introTitle {
    text-align: center;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}


#level-block {
    display: inline;      
    width: fit-content;
    padding: 0;
}

#quote-block {
    font-family: theSimpsons;
    text-align: center;
    font-size: 1.5rem;    
    display: inline;
    width: auto;
    padding: 0;
    width: 100%;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.question {
    letter-spacing: 4px;
    text-align: center;
    font-size: 30px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.answers {
    letter-spacing: 4px;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 30px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.btn {
    height: 3rem;
    border-radius: 25px;
    background: #f05a2b;
    font-family: theSimpsons;
    font-weight: bold;
    margin: 50px auto;
    display: block;
    transition: .8s ease;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.btn:focus {
    outline: none;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.btn:hover {
    box-shadow: 0px 0px 100px 20px #f05a2b;
    transition: .8s ease;
}

#introImage {
    float: right;
    margin-right: 20px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.descrText{
    display: inline-block;
    width: 70%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    text-align: justify;
    margin-left: 20px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#quote {
    margin: 10px;
    font-family: "Josefin Sans", sans-serif;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#author {
    margin: 10px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

ul {
    padding: 0;
}

#questionText {
    font-family: theSimpsons;
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.answersList {
    font-family: theSimpsons;
    list-style-type: none;
    font-size: 1.5rem;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin: 10px auto;
    width: 75%;
    border: 2px solid #f05a2b;
    border-radius: 25px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.answersList:hover {
    box-shadow: 10px 5px 5px black;
    font-weight: bold;
}

.scoreTimeTitles {
    font-family: theSimpsons;
    font-size: 2rem;
    width: 150px;   
    text-align: center;
    margin: 20px auto 10px auto;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.scoreTime {
    font-family: theSimpsons;
    font-size: 3rem;
    width: 150px;   
    text-align: center;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#timer {
    float: right;
    margin-bottom: 1rem;
}

.image-left {
    display: flex;
    flex-direction: row;
    float: left;
    clear: left;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.image-right {
    display: flex;
    flex-direction: row;
    float: right;
    clear: right;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.result-title {
    font-family: theSimpsons; 
    letter-spacing: 4px;   
    text-align: center;
    width: 100%;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.final-results {
    font-family: theSimpsons; 
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

#end-score {
    font-family: theSimpsons; 
    font-size: 3rem;
    text-align: center;
    margin-top: 75px; 
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;   
}

#congratulations {
    margin: 50px 0;
    font-size: 50px;
    color: #f05a2b;
    -webkit-text-stroke: 0.5px black;
    transform: scale(0.9);
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
      infinite alternate;
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}


/*Animation sourced from https://codepen.io/kylewetton/pen/yLBwdJX*/
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}